<!-- <nav class="navbar navbar-dark bg-dark"></nav>
<app-calculadora></app-calculadora> -->

<nav class="navbar navbar-dark bg-dark">
  <a *ngIf="loginService.personaLogueada === 'Gerardo'" routerLink="/calculadora" routerLinkActive="active">Calculadora</a>

  <a *ngIf="loginService.personaLogueada === 'Elena'" routerLink="/products" routerLinkActive="active">Lista de Compras</a>

  <!-- <a routerLink="/tiempo" routerLinkActive="active">Tiempo</a> -->

  <a *ngIf="loginService.personaLogueada === 'Gerardo'" routerLink="/prestamo" routerLinkActive="active">Prestamo</a>

  <a *ngIf="loginService.personaLogueada === 'Gerardo'" routerLink="/vuelta" routerLinkActive="active">Vuelta</a>

  <!-- <div class="boton"><a href="https://api.whatsapp.com/send?phone=5492216209330" target="_blank">Whatsapp</a></div> -->

  <div><a href="https://api.whatsapp.com/send?phone=5492216209330" target="_blank">
    <span style="font-size: 25px; color: rgb(77, 255, 71);">
      <i class="fab fa-whatsapp-square"></i>
    </span>
  </a></div>

  <!-- <button class="btn btn-warning" style="width: 20px; height: 20px;" type="button" (click)="salir();"> 
    <i class="fas fa-sign-out-alt"></i>  
  </button> -->

  <!-- <div style="width: 20px; height: 20px;" (click)="salir();"> 
    <i class="fas fa-sign-out-alt"></i>  
  </div> -->
  
  <span style="color: rgb(255, 71, 71);" (click)="salir();">
    <i class="fas fa-sign-out-alt"></i>
  </span>
</nav>

<router-outlet></router-outlet>