<!-- 
  https://firebasestorage.googleapis.com/v0/b/app-alaniz.appspot.com/o/resumenmama.pdf?alt=media&token=7fc68d28-db0a-439b-9d9e-75c0b972c842
-->

<div class="row" style="margin-top: 15px;">
  <div class="col-4"></div>
<button type="button" class="btn btn-primary" (click)="verResumen('Visa')">
  <i class="fab fa-cc-visa"></i> Ver Resumen
</button>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-4"></div>
<button type="button" class="btn btn-warning" (click)="verResumen('Master')">
  <i class="fab fa-cc-mastercard"></i> Ver Resumen
</button>
</div>